@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
	color: white;
}
.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: white;
    padding: 0 20px;
    box-sizing: border-box;
    color: black;
}

.header {
    position: fixed;
	margin-top: 3.5em;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: grey;
    padding: 0 20px;
    box-sizing: border-box;
    color: white;
}

.menu-logo, .search-box, .auth-buttons {
    display: flex;
    align-items: center;
}

.menu-logo{
		background-color: white;
		color: black;
}

.menu-icon {
    margin-right: 10px;
    color: black;
}

.search-box input {
    font-family: 'Roboto', sans-serif; /* Apply the 'Roboto' font */
    font-size: 16px; /* Increase the font size */
    height: 30px; /* Increase the height of the input box */
    width: 200px; /* Increase the width of the input box */
    border-radius: 0; /* Remove the rounded corners */
    padding: px; /* Add some padding */
    margin-left: 50px; /* Add left margin */
}
.search-box select {
    font-family: 'Roboto', sans-serif; /* Apply the 'Roboto' font */
    font-size: 12px; /* Match the font size */
    height: 35px; /* Match the height */
    width: 100px; /* Match the width */
    border-radius: 0; /* Remove the rounded corners */
    padding: 0px; /* Add some padding */
}
.icons {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.heart-icon, .cart-icon {
    font-size: 20px;
    margin-right: 5px;
	color: grey;
}
.auth-buttons button {
    font-family: 'Roboto', sans-serif; /* Apply the 'Roboto' font */
    font-size: 12px; /* Increase the font size */
    height: 40px; /* Increase the height of the button */
    width: 100px; /* Increase the width of the button */
    padding: 10px; /* Add some padding */
}

.login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 300px;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

.logo-circle {
    position: absolute;
    top: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box input {
 font-family: 'Roboto', sans-serif; /* Apply the 'Roboto' font */
    font-size: 12px; /* Increase the font size */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.login-box .login {
 font-family: 'Roboto', sans-serif; /* Apply the 'Roboto' font */
    font-size: 12px; /* Increase the font size */
    background-color: #007BFF;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.product-list-container {
	width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color:white;
}

.product-list {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color:black;
}

.image {
  width: 10%;
  background-color: grey;
  justify-content: start;
}

.details {
  width: 70%;
  justify-content: center;
    padding: 1px;
}

.price {
  width: 10%;
  justify-content: end;
}

.blank {
  width: 10%;
  justify-content: start;
}

.total {
  width: 70%;
  text-align: right;
    padding: 1px;
}

.checkoutbox{
	width: 60%;
}

.align-right {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}