<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tag</title>
    </head>
    <body>
        <h2>Add tag</h2>
        <form th:action="@{/SpringRESTBoot/saveTag}"
              th:object="${tag}"
              method="post">
            <label for="name">Tag Name:</label>
            <input type="text" id="name" name="name"><br>
            <input type="submit" value="Create">
        </form>
        <br>
        <a th:href="@{/SpringRESTBoot/gift/{id}(id=${currentId})}">Back to Gift Details</a>
    </body>
</html>